<div id="modalStatistic" class="modal">
    <div class="modal_dialog">
        <div id="modalStatisticContainer" class="modal_content">
            <button id="closeStatistic" class="modal_close"></button>
            <h1 class="modal_title">Statistic</h1>
            <div class="create_task_container">
                {{ form_start(formStatistic) }}
                <div class="input_form">
                    <h3 class="create_task_title">From: </h3>
                    {{ form_row(formStatistic.from) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">To: </h3>
                    {{ form_row(formStatistic.to) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">Completed on time</h3>
                    {{ form_row(formStatistic.success) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">Completed off time</h3>
                    {{ form_row(formStatistic.failed) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">In progress</h3>
                    {{ form_row(formStatistic.progress) }}
                </div>
                {{ form_end(formStatistic) }}
                <div class="sign_button button_sign_up">
                    <button id="getStatisticButton" class="style_button">Get statistic</button>
                </div>
            </div>
        </div>
    </div>
</div>