<div id="modalUpdateTask" class="modal">
    <div class="modal_dialog">
        <div id="modalUpdateTaskForm" class="modal_content">
            <button id="closeUpdateTask" class="modal_close"></button>
            <h1 class="modal_title">Update task</h1>
            <div class="create_task_container">
                {{ form_start(formUpdateTask) }}
                <div class="input_form">
                    <h3 class="create_task_title">Task name</h3>
                    {{ form_row(formUpdateTask.name) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">Description</h3>
                    {{ form_row(formUpdateTask.description) }}
                </div>
                <div class="input_form">
                    <h3 class="create_task_title">Set the task completion time</h3>
                    {{ form_row(formUpdateTask.end_time) }}
                </div>
                {{ form_row(formUpdateTask.id) }}
                {{ form_row(formUpdateTask.complete) }}
                <button id="submitTaskButton" class="userInfoHide" type="submit"></button>
                {{ form_end(formUpdateTask) }}
                <div class="sign_button button_sign_up">
                    <button id="updateTaskButton" class="style_button">Update task</button>
                </div>
                <button id="closeTaskButton" class="style_button">Close task</button>
                <button id="deleteTaskButton" class="style_button right">Delete task</button>
            </div>
        </div>
    </div>
</div>