{% extends "base.html.twig" %}
{% form_theme formCreateTask 'fields.html.twig' %}
{% form_theme userInfo 'fields.html.twig' %}
{#{% block title %}Mind-maps profile{% endblock %}#}
{% block title %}Mind-maps profile{% endblock %}
{% block head %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/personal.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/create-task.css">
{% endblock %}
{% block content %}
    <div class="personal_account_field">
        <div class="user_information">
            <div class="profile_button">
                <button id="openProfile" class="style_button left" title="load">{{ username }}</button>
            </div>
            <div class="header_title">
                <h1 class="title_name">mind-maps</h1>
            </div>
            <div class="logout_button">
                <a class="style_button right" href="{{ logout_path('main') }}">Logout</a>
            </div>
        </div>
        <div class="clear"></div>
        <div class="mind_maps_info">
            <div class="create_new_mind_map">
                <div class="create_button">
                    <a class="style_button" href="/create_mind_map">Create a new mind map</a>
                </div>
                <div class="load_button">
                    <button id="openLoad" class="style_button" title="load">load</button>
                </div>
            </div>
            <div class="existing_mind_maps">
                {% if mindMapNames|length == 0 %}
                    <p class="message">You don't have mind maps, create it now.</p>
                {% endif %}
                {% for name in mindMapNames %}
                    <div class="mind_map_file_container">
                        <div class="mind_map_file">
                            <div class="mind_map_icon_block">
                                <img class="mind_map_icon" src="images/mind_map_icon.png">
                                <div class="root_name_block">
                                    <p class="root_name">{{ mindMapRootNames[loop.index0] }}</p>
                                </div>
                                <div class="mind_map_download_icon">
                                    <img class="mind_map_icon" src="images/download_arrow.png">
                                </div>
                                <button class="delete_file modal_close"></button>
                            </div>
                            <div class="mind_map_info">
                                <div class="mind_map_name_block">
                                    <a class="mind_map_name"
                                       title={{ name }} href={{ "/mind_map/" ~ name }}>{{ name|e }}</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="create_task_button">
                <button id="openCreateTask" class="style_button" title="createTask">create task</button>
            </div>
            <div class="existing_tasks">
                {% if taskNames|length == 0 %}
                    <p class="message">You don't have tasks, create it now.</p>
                {% endif %}
                {% for name in taskNames %}
                    <div class="mind_map_file_container">
                        <div class="mind_map_file">
                            <div class="mind_map_icon_block">
                                <img class="mind_map_icon" src="images/mind_map_icon.png">
                                <div class="root_name_block">
                                    <p class="root_name">{{ taskDescriptions[loop.index0] }}</p>
                                </div>
                            </div>
                            <div class="mind_map_info">
                                <div class="mind_map_name_block">
                                    <a class="mind_map_name"
                                       title={{ name }} href={{ "/task/" ~ timestamps[loop.index0] }}>{{ name|e }}</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {{ include('modal/load_mind_map_modal.html.twig') }}
    {{ include('modal/create_task_modal.html.twig') }}
    {{ include('modal/user_info_modal.html.twig') }}

    <script src="/js/vendor/jQuery.js"></script>
    <script src="/js/vendor/file-saver.js"></script>
    <script src="/js/mind-map-creator/utilites/tree.js"></script>
    <script src="/js/mind-map-creator/utilites/node.js"></script>
    <script src="/js/mind-map-creator/settings/global-config.js"></script>
    <script src="/js/mind-map-creator/utilites/tree-saver.js"></script>
    <script src="/js/mind-map-creator/utilites/tree-loader.js"></script>
    <script src="/js/modal/modal.js"></script>
    <script src="/js/modal/load-modal.js"></script>
    <script src="/js/modal/personal-info-modal.js"></script>
    <script src="/js/modal/create-task-modal.js"></script>
    <script src="/js/modal/update-task-modal.js"></script>
    <script src="/js/api/controllers/download-controller.js"></script>
    <script src="/js/api/settings/api-config.js"></script>
    <script src="/js/api/mind-map-api.js"></script>
    <script src="/js/api/controllers/delete-mind-map-controller.js"></script>
    <script src="/js/personal/main.js"></script>
{% endblock %}
{% block footer %}{% endblock %}