{% extends "base.html.twig" %}
{% form_theme form 'fields.html.twig' %}
{% block title %}Mind-maps sign up{% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/sign_in.css">
{% endblock %}
{% block content %}
    <div class="authorization">
        <div class="auth_form">
            <div class="auth_form_header">
                <h1>Join MIND-MAPS</h1>
                <p>Create your personal account.</p>
            </div>
			{{ form_start(form) }}
            <div class="input_form">
                <h3>Username</h3>
				{{ form_row(form.username) }}
            </div>
            <div class="input_form">
                <h3>Email address</h3>
                {{ form_row(form.email) }}
            </div>
            <div class="input_form">
                <h3>Password</h3>
				{{ form_row(form.plainPassword.first) }}
            </div>
			<div class="input_form">
                <h3>Repeat Password</h3>
				{{ form_row(form.plainPassword.second) }}
            </div>
            <div class="button_block">
				<button type="submit" class="style_button" >Sign up</button>
            </div>
			{{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
