{% extends "base.html.twig" %}
{#{% block title %}Mind-maps sign in{% endblock %}#}
{% block title %}Mind-maps sign in{% endblock %}
{% block head %}
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/task-creator.css">
    <link rel="stylesheet" href="/css/create-task.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/button.css">
{% endblock %}
{% block content %}
    <header>
        <div class="header_background">
            <div class="header_title">
                <h1 class="title_name">Tasks creator</h1>
            </div>
            {#<div class="button_block">#}
            {#<button id="openDownload" class="style_button" title="download">save as</button>#}
            {#</div>#}
            <div class="button_block">
                <a class="style_button profile_button_block" href="/personal">profile</a>
            </div>
            <div class="create_task">
                <button id="openCreateTask" class="style_button" title="createTask">create task</button>
            </div>
            <div class="create_task">
                <button id="convertTask" class="style_button" title="convertTask">convert task</button>
            </div>
            {#<div class="option_button">#}
            {#<button id="openInformation" class="style_button" title="select theme">help</button>#}
            {#</div>#}
        </div>
    </header>
    <div>
        <div class="task_creator">
            <div class="tree_field">
                {% import _self as macros %}
                {% macro printTree(node) %}
                    <li>
                        <div class="task_block">
                            <h4 data-id="{{ node.id }}">{{ node.title }}</h4>
                            {% if node.complete == 1 %}
                                <img class="task_complete" src={{ asset('/images/green_circle.png') }}>
                            {% elseif node.complete == -1 %}
                                <img class="task_complete" src={{ asset('/images/red_circle.png') }}>
                            {% elseif node.complete == 0 %}
                                <img class="task_complete" src={{ asset('/images/yellow_circle.png') }}>
                            {% endif %}
                        </div>
                        {% if node.children|length %}
                            <ul>
                                {% import _self as macros %}
                                {% for child in node.children %}
                                    {{ macros.printTree(child) }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endmacro %}
                {% if tree %}
                    <div id="tree">
                        <ul class="ul-treefree">
                            <div class="task_block">
                                <p id="rootName" data-id="{{ tree.root.id }}">{{ tree.root.title }}</p>
                                {% if tree.root.complete == 0 %}
                                    <img class="task_root_complete" src={{ asset('/images/yellow_circle.png') }}>
                                {% elseif tree.root.complete == 1 %}
                                    <img class="task_root_complete" src={{ asset('/images/green_circle.png') }}>
                                {% elseif tree.root.complete == -1 %}
                                    <img class="task_root_complete" src={{ asset('/images/red_circle.png') }}>
                                {% endif %}
                            </div>
                            {% for node in tree.root.children %}
                                {{ macros.printTree(node) }}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class=" task_visualizer">
            <div id="canvasDiv">
                <canvas id='canvas'></canvas>
            </div>
        </div>
    </div>
    {{ include('modal/create_task_modal.html.twig') }}
    {{ include('modal/update_task_modal.html.twig') }}
    <input type="hidden" id="responseResult">
    <script src="/js/vendor/jQuery.js"></script>
    <script src="/js/vendor/file-saver.js"></script>
    <script src="/js/mind-map-creator/settings/renderer-config.js"></script>
    <script src="/js/mind-map-creator/utilites/node.js"></script>
    <script src="/js/mind-map-creator/utilites/tree.js"></script>
    <script src="/js/mind-map-creator/utilites/tree-saver.js"></script>
    <script src="/js/mind-map-creator/settings/global-config.js"></script>
    <script src="/js/modal/modal.js"></script>
    <script src="/js/modal/auto-modal-window.js"></script>
    <script src="/js/api/controllers/save-changes-controller.js"></script>
    <script src="/js/modal/create-task-modal.js"></script>
    <script src="/js/mind-map-creator/utilites/point.js"></script>
    <script src="/js/mind-map-creator/utilites/rect.js"></script>
    <script src="/js/task-creator/tree-controller.js"></script>
    <script src="/js/mind-map-creator/utilites/tree-loader.js"></script>
    <script src="/js/mind-map-creator/utilites/tree-renderer.js"></script>
    <script src="/js/mind-map-creator/controllers/scroll-controller.js"></script>
    <script charset="utf-8" src="/js/api/controllers/mind-map-loader-controller.js"></script>
    <script src="/js/api/mind-map-api.js"></script>
    <script src="/js/api/settings/api-config.js"></script>
    <script src="/js/task-creator/task-converter.js"></script>
    <script src="/js/task-creator/task-modal.js"></script>
    <script src="/js/task-creator/main.js"></script>
{% endblock %}
{% block footer %}{% endblock %}